.section__title {
    @include font($ff: 'Acrom', $fw: 800, $fs: rem(20), $lh: rem(30), $color: $fifth-font-color);
    letter-spacing: -1.2px;
    width: 100%;

    @include for-tablet-up {
        @include font($ff: 'Acrom', $fw: 800, $fs: rem(30), $lh: rem(40), $color: $fifth-font-color);
        text-align: center;
    }

    @include for-desktop-up {
        @include font($ff: 'Acrom', $fw: 800, $fs: rem(48), $lh: rem(60), $color: $fifth-font-color);
        letter-spacing: -1.92px;
        text-align: left;
        padding-left: rem(15);
        width: 40%;
    }
}

.interest {
    padding-top: rem(30);
    padding-bottom: rem(38);

    @include for-tablet-up {
        padding-top: rem(56);
    }

    @include for-desktop-up {
        padding-top: rem(95);
        padding-bottom: rem(140);
    }

    &__title {
    margin-bottom: rem(24);

    @include for-tablet-up {
        margin-bottom: rem(35);
    }    

    @include for-desktop-up {
        margin-bottom: rem(70)
        }
    }

    &__market {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(28);
    }

    &__wrapper {
        @include for-desktop-up {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            }
    }
}

.market {

    @include for-tablet-up {
        width: 93%;
        margin: 0 auto;
        box-shadow: -18px 19px 0px 0px rgba(27,32,42,0.06), 0px 15px 32px 0px rgba(0,0,0,0.2);
        padding-top: rem(52);
        padding-bottom: rem(54);
        margin-bottom: rem(48);
        background-image: url('../images/interest/map.jpg');
        background-repeat: no-repeat;
        background-position: 80% 83%;
        padding-left: rem(57);
        padding-right: rem(50);

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../images/interest/map@2x.jpg');
            background-size: 45%;
        }
    }    

    @include for-desktop-up {
        width: 60%;
        margin: 0;
        background-position: 81% 82%;
        display: block;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../images/interest/map@2x.jpg');
            background-size: 45%;
            }
        }

    &__title {
        @include font($ff: 'Acrom', $fw: 800, $fs: rem(14), $lh: rem(20), $color: $fifth-font-color);
        letter-spacing: -0.56px;
        margin: 0;
        padding: 0;
        margin-bottom: rem(20);

        @include for-tablet-up {
            @include font($ff: 'Acrom', $fw: 800, $fs: rem(18), $lh: rem(25), $color: $fifth-font-color);
            letter-spacing: -0.72px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: rem(30);
            width: 65%;
        }    

        @include for-desktop-up {
            margin-bottom: rem(38);
            width: 67%;
        }    
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: rem(20);
        padding: 0 17px 0 17px;

        @include for-tablet-up {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
        }    
    }

    &__list-item {
        @include font($ff: 'Acrom', $fw: 500, $fs: rem(14), $lh: rem(20), $color: $fifth-font-color);
        letter-spacing: -0.56px;

        @include for-tablet-up {
            width: 30%;   
        }   
   
        &:nth-child(-n + 3) {
            @include for-tablet-up {
                margin-bottom: rem(28);   
            }   

        @include for-desktop-up {
            margin-bottom: 0;
            }
        }
    }

    &__income {
        @include font($ff: 'Acrom', $fw: 800, $fs: rem(14), $lh: rem(20), $color: $fifth-font-color);
        letter-spacing: -0.56px;
        margin: 0;
        width: 100%;
        margin-bottom: rem(10);

        @include for-tablet-up {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: rem(10);
        }
    }
    
    &__digits {
        @include font($ff: 'Acrom', $fw: 700, $fs: rem(30), $lh: rem(36), $color: $third-font-color);
        letter-spacing: -1.2px;
        margin-bottom: rem(5);   
        display: block; 

        @include for-tablet-up {
            font-weight: 500;
        }
    }

    &__income-wrapper {
        padding-left: rem(17);

        @include for-tablet-up {
            width: 41%;
            padding: 0;
        }
    }
}

.income {
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        @include for-tablet-up {
            display: flex;
            justify-content: space-between;
        }
    }

    &__list-item {
        @include font($ff: 'Acrom', $fw: 500, $fs: rem(10), $lh: rem(11), $color: $main-font-color);
        letter-spacing: -0.4px;
        width: 48%;

        @include for-tablet-up {
            padding: 0;
            width: 46%;
        }
    }

    &__digits {
        @include font($ff: 'Acrom', $fw: 700, $fs: rem(25), $lh: rem(25), $color: $third-font-color);
        letter-spacing: -1px;
        display: block; 
        margin-bottom: rem(5);
        
        @include for-tablet-up {
            font-weight: 500;
        }
    }
}

.proposal {
    @include for-tablet-up {
        width: 83%;
        margin: 0 auto;
    }

    @include for-desktop-up {
        width: 35%;
        margin: 0;
        padding-top: rem(120);
    }

    &__title {
        margin-bottom: rem(12); 

        @include for-tablet-up {
            margin-bottom: rem(26);
        }

         @include for-desktop-up {
             width: 100%;
             margin-bottom: rem(32);
             padding: 0;
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        @include for-tablet-up {
            width: 65%;
        }

        @include for-desktop-up {
            width: 100%;
        }
    }

    &__list-item {
        @include font($ff: 'Acrom', $fw: 500, $fs: rem(14), $lh: rem(20), $color: $fifth-font-color);
        letter-spacing: -0.56px;
        padding-left: rem(36);
        position: relative;
        width: 95%;

        @include for-tablet-up {
            @include font($ff: 'Acrom', $fw: 500, $fs: rem(16), $lh: rem(22), $color: $fifth-font-color);
            letter-spacing: -0.64px;
        }

        @include for-desktop-up {
            @include font($ff: 'Acrom', $fw: 500, $fs: rem(18), $lh: rem(20), $color: $fifth-font-color);
            letter-spacing: -0.72px;
        }    
    }

    &__list-item:not(:last-child) {
        margin-bottom: rem(10);
    }

    &__list-item::before {
        position: absolute;
        content: "";
        width: rem(12);
        height: rem(12);
        display: block;
        background-color: $third-font-color;
        left: 0;
        top: rem(3);
    }
}

@media (max-width: 767px) {
    .section {
        background-image: url('../images/interest/map.png');
        background-repeat: no-repeat;
        background-position: right 58%;
    }

    .market__list-item:not(:last-child) {
        margin-bottom: rem(20);
    }
}
