$main-font-color: rgb(34, 34, 34);
$secondary-font-color: rgb(255, 255, 255);
$third-font-color: rgb(0, 234, 255);
$fourth-font-color: #dbdbdb;
$fifth-font-color: rgb(27, 32, 42);
$button-main-color: rgb(255, 112, 42);
$button-secondary-color:rgb(255, 107, 8);