$main-font-color: rgb(34, 34, 34);
$secondary-font-color: rgb(255, 255, 255);
$third-font-color: rgb(0, 234, 255);
$fourth-font-color: rgb(219, 219, 219);
$fifth-font-color: rgb(27, 32, 42);
$button-main-color: rgb(255, 112, 42);
$button-secondary-color: rgb(255, 107, 8);
$header-background-color: #181c27;
$header-date-color: rgb(249, 174, 35);
$policy-color: rgb(93, 96, 102);
